{% extends 'base.html.twig' %}


{% block body %}
	<section class="article">
		<article>
			<h2>{{ anecdote.title }}</h2>
			<div class="metadata">Ecrit le
				{{ anecdote.createdAt | date('d/m/Y')}}
				à
				{{ anecdote.createdAt | date('h:i')}}
				dans la catégorie
				{{ anecdote.category.title }}</div>
			<div class="content">
				<img src="{{ anecdote.image }}" alt="">
				<br>
				{{ anecdote.content | raw }}
			</div>
		</article>

		<section id="commentaires">
		<h1>{{ anecdote.comments | length }} commentaires </h1>
			{% for comment in anecdote.comments %}
				<div class="comment">
					<div class="row">
						<div class="col-3">
							{{comment.author}}
							(<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
						</div>
						<hr>
						<div class="col">
							{{comment.content | raw }}
						</div>
					</div>
				</div>

			{% endfor %}
			{% if app.user %}
			{{ form_start(commentForm) }}
			{{ form_row(commentForm.author, {"attr" : { "placeholder":"Votre nom"}}) }}
			<hr>
			{{ form_row(commentForm.content, {"attr" : { "placeholder":"Rediger commentaire"}}) }}

			<button type="submit" class="btn btn-success">Valider commentaire</button>
			{{ form_end(commentForm) }}
			{% else %}
			<h2>Vous devez vous identifiez pour pouvoir commenter</h2>
			<a href="{{path ('security_login')}}" class="btn btn-primary">Connectez-vous</button>
			{% endif %}
		</section>
	{% endblock %}
